<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=172.16.206.20;Initial Catalog=IBusinessTest;User ID=Data_writer;Password=Pasmy@2791381230" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Local_Ws_secondSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.206.19/PART_INFO/Local_Ws_second.asmx"
                binding="basicHttpBinding" bindingConfiguration="Local_Ws_secondSoap"
                contract="GETPARTLOC.Local_Ws_secondSoap" name="Local_Ws_secondSoap" />
        </client>
    </system.serviceModel>
</configuration>