<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SMTPullListEntry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=172.16.206.20;Initial Catalog=IBusinessTest;User ID=Data_writer;Password=Pasmy@2791381230" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Local_Ws_secondSoap" maxReceivedMessageSize="1048576" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pasmyapps/PART_INFO/Local_Ws_second.asmx"
                binding="basicHttpBinding" bindingConfiguration="Local_Ws_secondSoap"
                contract="GETPARTLOC.Local_Ws_secondSoap" name="Local_Ws_secondSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <SMTPullListEntry.Properties.Settings>
            <setting name="SMTPullListEntry_PI_WS_ThirdService" serializeAs="String">
                <value>http://172.16.206.19/PART_INFO/ThirdService.asmx</value>
            </setting>
        </SMTPullListEntry.Properties.Settings>
    </applicationSettings>
</configuration>